@import "../App.scss";

@media (max-width:576px)
{
    .c5{
        margin-bottom: 50px;
    }
    .c5 .clouds2 {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index:999;
    }

    .c5 .location-span{
        transition: 0.25s all ease-in-out;
        font-weight: 600;
        font-size: 4vw;
        text-transform: capitalize;
        position: absolute;
        color: #ffffff85;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .c5 .slider-item-hover2{
        &:hover .location-span{
            color: $secondary-color;
        }
    }

    .c5  .icon-360 {
        top : 10%;
        right:5%;
        padding: 5px;
        width: 20%;
        min-width: 70px;
        z-index: 99999;
    }

    .owl-carousel{
        position: relative !important;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .owl-nav{
        margin-top: 0px !important;
        position: absolute;
        top: 50%;
        transform: translateY(-25%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: visible;
        z-index: -1;
        button {
            color: white !important;
            border: none !important;
            font-size: 30px !important;
            font-weight: 700 !important;
            /* line-height: 30px !important; */
            border-radius: 50% !important;
            margin-right: -20px !important;
            margin-left: -20px !important;
            &:hover{
                background-color: transparent !important;
                color: grey !important;
            }
            &:focus{
                outline: none !important;
            }
        }
            
    }



}
// --------------------------------------------------------------------------------------------------
@media(min-width: 577px) and (max-width:767px )
{
  
.c5 .clouds2 {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index:999;
}





.c5 .location-span{
    transition: 0.25s all ease-in-out;
    font-weight: 600;
    font-size: 3vw;
    text-transform: capitalize;
    position: absolute;
    color: #ffffff85;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c5 .slider-item-hover2{
    &:hover .location-span{
        color: $secondary-color;
    }
}

.c5  .icon-360 {
    top : 8%;
    right:5%;
    padding: 5px;
    width: 16%;
    min-width: 80px;
}

.owl-carousel{
    position: relative !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

}
// ----------------------------------------------------------------------------------------------------
@media(min-width: 768px) and (max-width:991px )
{
   
.c5 .clouds2 {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index:999;
}





.c5 .location-span{
    transition: 0.25s all ease-in-out;
    font-weight: 600;
    font-size: 2vw;
    text-transform: capitalize;
    position: absolute;
    color: #ffffff85;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c5 .slider-item-hover2{
    &:hover .location-span{
        color: $secondary-color;
    }
}

.c5  .icon-360 {
    top : 10%;
    right:5%;
    padding: 5px;
    width: 12%;
    min-width: 80px;
}

.owl-carousel{
    position: relative !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

}
// -----------------------------------------------------------------------------------------------------
@media (min-width: 992px) and (max-width:1199px )
{
    
.c5 .clouds2 {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index:999;
}





.c5 .location-span{
    transition: 0.25s all ease-in-out;
    font-weight: 600;
    font-size: 2vw;
    text-transform: capitalize;
    position: absolute;
    color: #ffffff85;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c5 .slider-item-hover2{
    &:hover .location-span{
        color: $secondary-color;
    }
}

.c5  .icon-360 {
    top : 10%;
    right:5%;
    padding: 5px;
    width: 12%;
    min-width: 80px;
}

.owl-carousel{
    position: relative !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

}
// -----------------------------------------------------------------------------------------------------
@media (min-width: 1200px)
{
  
.c5 .clouds2 {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index:999;
}





.c5 .location-span{
    transition: 0.25s all ease-in-out;
    font-weight: 600;
    font-size: 1.5vw;
    text-transform: capitalize;
    position: absolute;
    color: #ffffff85;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c5 .slider-item-hover2{
    &:hover .location-span{
        color: $secondary-color;
    }
}

.c5  .icon-360 {
    top : 10%;
    right:5%;
    padding: 5px;
    width: 10%;
    min-width: 80px;
}


}

// -----------------------------------------------------



.c5{
    font-family: 'Work Sans', sans-serif;
}




// utilities start 

.c5 .bg-black{
    background-color: $primary-color !important;
}

.c5 .opacity85{
    opacity: 85%;
}

.c5 .over-hidden {
    overflow: hidden !important;
}

.c5 .w-85{
    width: 85%;
}
.c5 .w-fa{
    width: -webkit-fill-available;
}


.c5 .fw-100{
    font-weight: 100 !important;
}

.c5 .fw-300{
   font-weight: 300 !important;
}

.c5 .fw-400{
   font-weight: 400 !important;
}

.c5 .fw-500{
   font-weight: 500 !important;
}

.c5 .fw-600{
   font-weight: 600 !important;
}

.c5 .fw-700{
   font-weight: 700 !important;
}

.c5 .fw-800{
   font-weight: 800 !important;
}

.c5 .fw-900{
   font-weight: 900 !important;
}
//  utilities end




// component styling start



// component styling end





